<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ncov.module.mapper.UserInfoMapper">


     <select id="selectCountByPhoneOrNickName" resultType="integer" parameterType="map">
         select count(1)
         from user_info
         <where>
             user_nick_name = #{nickName,jdbcType=VARCHAR}  or  phone = #{phone,jdbcType=VARCHAR}
         </where>
     </select>
</mapper>