<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ncov.module.mapper.UserInfoMapper">
    <select id="selectCountByPhoneOrNickName" resultType="integer">
        select count(1)
        from user_info
        <where>
            user_nick_name = #{userNickName} or user_phone = #{userPhone}
        </where>
    </select>

    <select id="findByUserPhone" parameterType="java.lang.String" resultType="UserInfoEntity">
        select *
        from user_info
        <where>
            user_phone = #{userPhone}
        </where>
    </select>
</mapper>